@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-black-500);
  padding: 8px;
}

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --color-black-500: rgb(44, 44, 44);
  --color-black-400: rgba(44, 44, 44, 0.8);
  --color-blue-500: rgb(143, 135, 241);
  --color-blue-200: rgba(143, 135, 241, 0.8);
}
